.vs/
Profile.Silo/bin/
Profile.Silo/obj/
Profile.Core/obj/
Profile.Client/bin/
Profile.Client/obj/
Profile.Core/bin/
Profile.Grains/obj/
Profile.Interface/bin/
Profile.Interface/obj/
Profile.Grains/bin/
Profile.Test/bin/
Profile.Test/obj/
